html {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 450px;
  background-color: rgb(64, 65, 67);
}

body {
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.main {
  margin: 0;
  padding: 0;
}
