html {
  margin: 0;
  padding: 0;
}

.crypto-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.crypto-card {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #413e3e;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.crypto-card:hover {
  box-shadow: 8px 8px 6px #333;
  transform: scale(0.9);
  border-radius: 9px;
}

.crypto-card img {
  max-width: 100%;
  height: auto;
}

.crypto-card h2 {
  margin-top: 10px;
  color: #fff;
}

.price {
  font-weight: bold;
  color: #2ecc71;
}

.details-link {
  display: inline-block;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .crypto-list {
    grid-template-columns: 1fr 1fr;
  }

  .crypto-card {
    padding: 10px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #333;
}

.loading-icon {
  margin-right: 10px;
}
